.nameplate-text
  .name Maggie Utgoff
  .description Person of Importance
.banner
  .nameplate
  #resume-container
    %a{ target: '_blank', href: "https://www.mcsweeneys.net/authors/maggie-utgoff" }
      %i.fa.fa-cloud-download.fa-2x.pdf
      %span.text-box
      .resume publications
.contact-bar
  .icons
    %a{ target: '_blank', href: "mailto:me@maggieutgoff.com" }
      %i.fa.fa-envelope.fa-2x.awesome
    %a{ target: '_blank', href: "http://mutgoff.tumblr.com/" }
      %i.fa.fa-tumblr.fa-2x.awesome
    %a{ target: '_blank', href: "/" }
      %i.fa.fa-home.fa-2x.awesome
    %a{ target: '_blank', href: "https://www.linkedin.com/in/mutgoff" }
      %i.fa.fa-linkedin.fa-2x.awesome
    %a{ target: '_blank', href: "https://twitter.com/mutgoff" }
      %i.fa.fa-twitter.fa-2x.awesome
